@model Skills
@{
    ViewData["Title"] = "Update";
}


<div class="container-fluid">
    <form method="post" >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>

@section scripts{
    <script>
    @await Html.PartialAsync("~/Areas/Manage/Views/Shared/_ValidationParital.cshtml")

        })
    </script>

}
